body{
    background-color: #151a16;
}
.header-h{
    background-color:#60a673 ;
    text-align: center;
    border-radius: 2em;
    padding-top: 10px;
    margin: 30px 30px;
}
.vin-h{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 70px;
    font-size: 25px;
    
}
li{
    list-style: none;
}
.nav-h{
    background-color: #333;
  overflow: hidden;
  border-radius: 1em;
}
.nav-h a{
    
  
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 3px solid transparent;
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-h a:hover{

color:lawngreen;
}
.nav-h a.active {
    border-bottom: 3px solid #60a673;
  }
  .nav-h li{
      display: inline;
  }
  .iconDetails {
    margin-left:2%;
    display: block;
    padding-right: 200px;
   float: left;
   height:400px;
   width:500px;	
   } 
   
   .container2 {
       width:90%;
       height:auto;
       padding-left:20px;
   }
   
   
   .quote{
       font-family: 'Courier New', Courier, monospace;
       font-size: 2em;
       color: #f2f2f2;
       
   }
   